.lighbox-bg {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: none;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.lighbox-container {
    background: #FFF;
    width: 350px;
    color: #000;
    padding: 30px 10px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    z-index: 30;
}

.lighbox-container label {
    display: block;
}

.lighbox-container label p {
    font-size: 12px;
    margin: 5px 0px;
}

.lighbox-container label p span {
    background: #B39764;
    padding: 3px 5px;
    border-radius: 10px;
    font-weight: 700;

}

.lighbox-container input {
    width: 90%;
    height: 30px;
    margin: 10px 0px;
}

.lighbox-container input[type="submit"] {
    background: rgb(164, 107, 11);
    background: -moz-linear-gradient(100deg, rgba(164, 107, 11, 1) 0%, rgba(247, 227, 126, 1) 40%, rgba(159, 133, 52, 1) 100%);
    background: -webkit-linear-gradient(100deg, rgba(164, 107, 11, 1) 0%, rgba(247, 227, 126, 1) 40%, rgba(159, 133, 52, 1) 100%);
    background: linear-gradient(100deg, rgba(164, 107, 11, 1) 0%, rgba(247, 227, 126, 1) 40%, rgba(159, 133, 52, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a46b0b", endColorstr="#9f8534", GradientType=1);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 15px;
    width: auto;
    padding: 5px 30px;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.lighbox-container input[type="submit"]:hover {
    border: 1px solid #B39764;
    color: #B39764;
    background: transparent;
}

.lighbox-container-check {
    background: #FFF;
    width: 350px;
    color: #000;
    padding: 30px 10px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    z-index: 30;
}

.lighbox-container-video {
    background: #FFF;
    width: 350px;
    color: #000;
    padding: 30px 10px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 30;
}
.btn-fechar{
    color:black;
    position: relative;
    top: 30px;
    z-index: 35;
    left: 35%;
}

@media only screen and (min-width: 768px) {
    .lighbox-container-video{
        width: 500px;
        height: 300px;
    }
    .lighbox-container-video iframe{
        width: 400px;
        height: 220px;
    }
}
@media (min-width: 2200px) {
    .lighbox-container-video{
        width: 1200px;
        height: 800px;
    }
    .lighbox-container-video iframe{
        width: 1000px;
        height: 560px;
    }
}