#progress-bar{
    width: 310px;
    border-radius: 15px;
    background-color: #B39764;
    padding: 3px;
    padding-right: 5px;
}
#bar{
    border-radius: 10px;
    background: rgb(164,107,11);
    background: -moz-linear-gradient(40deg, rgba(164,107,11,1) 0%, rgba(247,227,126,1) 40%, rgba(159,133,52,1) 100%);
    background: -webkit-linear-gradient(40deg, rgba(164,107,11,1) 0%, rgba(247,227,126,1) 40%, rgba(159,133,52,1) 100%);
    background: linear-gradient(40deg, rgba(164,107,11,1) 0%, rgba(247,227,126,1) 40%, rgba(159,133,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a46b0b",endColorstr="#9f8534",GradientType=1);
    color: #000;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 5px;
}
.container-progress-bar{
    display: grid;
    grid-template-rows: 50% 50%;
    width: 430px;
    align-items: center;
    justify-content: center;
    display: none;
}
.voltar_btn{
    background: rgb(164,107,11);
    background: -moz-linear-gradient(40deg, rgba(164,107,11,1) 0%, rgba(247,227,126,1) 40%, rgba(159,133,52,1) 100%);
    background: -webkit-linear-gradient(40deg, rgba(164,107,11,1) 0%, rgba(247,227,126,1) 40%, rgba(159,133,52,1) 100%);
    background: linear-gradient(40deg, rgba(164,107,11,1) 0%, rgba(247,227,126,1) 40%, rgba(159,133,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a46b0b",endColorstr="#9f8534",GradientType=1);
    color: #000;
    padding: 8px 10px 6px 10px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
    width: 62px;
    height: 25px;
    margin: 0px 10px;
}

.voltar{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}